* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 62.5%;
}

.music-player {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #d8d4d4;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.music-player .dashboard {
  position: fixed;
  padding: 15px;
  top: 0;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  z-index: 1;
}

.music-player .cd {
  width: 200px;
  margin: 0 auto 25px;
}

.music-player .cd .cd-thumb {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  border-radius: 50%;
}

.music-player .music-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.music-player .music-artist {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.music-player .progress-bar {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  height: 19px;
  outline: none;
}

.music-player .progress-bar::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #007db5;
  cursor: pointer;
}

.music-player .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.music-player .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-player .controls .play {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, right top, from(#32d476), to(#369af8)) border-box;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #32d476, #369af8) border-box;
  border: 8px solid transparent;
  border-radius: 50%;
}

.music-player .controls .play ion-icon {
  font-size: 2rem;
}

.music-player .controls .icon {
  cursor: pointer;
  font-size: 1.6rem;
}

.music-player .controls .icon.active {
  color: #369af8;
}

.music-player .play-list {
  margin-top: 475px;
  background-color: #fff;
  padding: 15px;
}

.music-player .play-list .song {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 45px 1fr 20px;
      grid-template-columns: 45px 1fr 20px;
  grid-column-gap: 10px;
  padding: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.music-player .play-list .song + .song {
  margin-top: 20px;
}

.music-player .play-list .song.active {
  background-color: #369af8;
}

.music-player .play-list .song.active .title, .music-player .play-list .song.active .author {
  color: #fff;
}

.music-player .play-list .song:active {
  opacity: 0.8;
}

.music-player .play-list .thumb {
  width: 40px;
  height: 40px;
}

.music-player .play-list .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.music-player .play-list .body .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.music-player .play-list .body .author {
  font-size: 0.9rem;
  font-weight: 400;
}

.music-player .play-list .option {
  cursor: pointer;
  font-size: 1.2rem;
}
